.nav-item > a:hover {
	

	background-color: white;
	color:red !important;


}
.carousel-item > img {

	height :350px !important;
}
@media only screen and (max-width: 500px)
{
	.carousel-item > img {

	height :200px !important;
}
}
.main-content{
	min-height: calc(100vh - 25vh);
}

.footer{
 background-color: #343a40;
 bottom: 0;
 height: 25%;
 padding: 20px; 	
}
.footer div.company-portion a{
	text-decoration: none;
	transition: 0.8s;
}
.footer div.company-portion a:hover{
	font-size:30px;
}
.footer div.company-portion span.company-name{
	color: #ffffff;
	padding-left: 25px;
}

.footer div.company-portion > p{
	color: #ffffff;
	/*padding-left: 25px;*/
}
.footer div.links-heading > h5{
	color: #ffffff;
	padding-left: 25px;
}
.footer ul.unstyle-list {
   list-style-type: none;
   transition: 0.8s;

}
.footer ul.unstyle-list a:hover{
   margin-left: 5px;

}
.footer ul.unstyle-list a{
   text-decoration: none;
   color: #ffffff;
   transition: 0.8s;

}
.footer ul.unstyle-list a:hover{
   margin-left: 5px;

}
.footer ul.social-icon a{
	font-size : 35px;
	padding: 7px;
	color: #ffffff;
	transition: 0.9s;

}
	
.footer ul.social-icon  a:hover{
	font-size: 40px;
    color:#6495ED;
}

.footer p.footer-link a
{
	color: white;
	transition: 0.8s;
}
.footer p.footer-link a:hover
{
	font-size: 20px;
}
}
 .login-heading{
 	color: green;
 	text-align: center;
 }
 .email-error{
 	color: red;
 	font-weight: bold;
 	float: right;
 	display: none;
 }
 .password-error{
 	color: red;
 	font-weight: bold;
 	float: right;
 	display: none;
 }
 .user-error{
 	color: red;
 	font-weight: bold;
 	float: right;
 	display: none;
 }
 .confirm-password-error{
 	color: red;
 	font-weight: bold;
 	float: right;
 	display: none;
 }
 .login-container{
 	margin-top: 10%;
 }
 .login-submit{

 }
 .error{
 	border: 1px solid red !important;
 }
 .success{
 	border: 1px solid green !important;
 }
 
 	
  
 